*,
*::after,
*::before {
  box-sizing: border-box;
}

::placeholder {
  color: #666
}

::selection {
  background-image: $accent;
}

input,
textarea {
  outline: none;
}

html,
body {
  min-height: 100%;
  min-width: $mobileW;
  overflow-x: hidden;
}

body {
  font-family: $userfont;
	font-size: $fontsize;
	line-height: $lineheight;
	color: $textcolor;
  font-weight: $fontweight;
	position: relative;
  overflow-x: hidden;
  word-break: break-word;
  background-attachment: fixed;
  background-repeat: no-repeat;

  @media (max-width: $tableW) {
    font-size: 16px;
    line-height: 24px;
  }
}

.basic-bg {
  background-color: $basic-bg;
}

.bg-1 {
  background-image: conic-gradient(from -61deg at 0% -0.00%, #FFF8F1 142.5000035762787deg, #FFF 157.5deg, #EEF3FF 168.75deg, #FDFDFE 189.37500715255737deg, #E6EBF8 211.87500715255737deg);
  background-blend-mode: lighten;
}

.bg-2 {
  background-image: conic-gradient(from -61deg at 0% -0.00%, #FFD1A6 131.2500035762787deg, #FFF 155.6249964237213deg, #E2E5FF 168.75deg, #FDFDFE 195.00000715255737deg, #EEE7FF 223.12500715255737deg);
  background-blend-mode: lighten;
}

.bg-3 {
  background-image: radial-gradient(485.12% 115.32% at 104.74% 55.72%, #FFE9DC 0%, #DEE5FF 35.42%, #FFEAEA 59.90%, #E5E8FF 79.17%, #FFEFE4 93.23%, #E3EEFF 100%);
}

.bg-4 {
  background-image: linear-gradient(180deg, #FBE8E8 0%, #F3EAFF 29.69%, #F5E9F0 63.02%, #FFF9F3 100%);
}

.bg-5 {
  background-image: conic-gradient(from -61deg at 0% -0.00%, #FEFFB9 80.62499821186066deg, #DCD4AD 121.87499642372131deg, #E7D2FD 123.41427326202393deg, #FFEDE3 163.125deg, #D6C0FF 188.6760449409485deg, #FDAAFF 196.0251259803772deg, #FFE3CA 213.75deg, #FFD596 281.25deg), linear-gradient(90deg, rgba(235, 209, 255, 0.10) 0%, rgba(239, 248, 217, 0.10) 29.69%, rgba(233, 219, 239, 0.10) 58.33%, rgba(245, 243, 233, 0.10) 75.52%, rgba(201, 194, 166, 0.10) 100%);
  background-blend-mode: lighten, normal;
}


img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none; 
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: $desktopW;
  padding: 0 $pad;
  margin: 0 auto;

  @media (max-width: $tableW) {
    padding: 0 10px;
  }
};

.no-scrolling {
  overflow: hidden;
}

.button {
  position: relative;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 212px;

  border-radius: 10px;
  background: linear-gradient(180deg, #FFD875 0%, rgba(255, 143, 80, 0.99) 100%);

  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.75px;
  text-transform: uppercase; 
  transition: $trans;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg, #F5A255 0%, #E7760D 100%);
    opacity: 0;
    transition: $trans;
  }

  &:hover {
    border-radius: 50px;
    
    &::after {
      opacity: 1;
    }
  }

  &:active {
    background: linear-gradient(180deg, #EA882E 0%, #CE6809 100%);
  }

  &:focus {
    background: linear-gradient(180deg, #FFAC5F 0%, #F18017 100%);
  }

  &-large {
    min-height: 64px;
  }
  &-normal {
    min-height: 56px;
  }
  &-small {
    min-height: 40px;
  }

  &-icon {
    &::before {
      content: '';
      margin-right: 10px;
      width: 24px;
      height: 24px;
      background-image: url('@img/icons/icons.svg#pencil');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.title-1,
.title-2,
.title-3,
.title-4 {
  color: #212121;
  font-family: $secondFont;
  font-weight: 400;
  text-transform: uppercase;
}

.title-1 {
  font-size: 40px;
  line-height: 50px;

  @media (max-width: $desktopW) {
    font-size: calcFluidFontSize(40, 24, 1240, 375);
  }

  @media (max-width: $tableW) {
    line-height: 36px;
  }
}

.title-2 {
  font-size: 32px;
  line-height: 42px;

  @media (max-width: $desktopW) {
    font-size: calcFluidFontSize(32, 22, 1240, 375);
  }

  @media (max-width: $tableW) {
    line-height: 30px;
  }
}

.title-3 {
  font-size: 24px;
  line-height: 32px;

  @media (max-width: $desktopW) {
    font-size: calcFluidFontSize(24, 16, 1240, 375);
  }

  @media (max-width: $tableW) {
    line-height: 26px;
  }
}

.title-4 {
  font-size: 16px;
  line-height: 26px;
}

.my-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  filter: blur(60px);
}

.t-hidden {
  @media (max-width: 1200px) {
    display: none;
  }
}

.index-body .footer {
  margin-top: 120px;

  @media (max-width: $tableW) {
    margin-top: 70px;
  }
}

.parallax-bg {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  left: 0;
  top:  0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.parallax-inner {
  position: absolute;
  top: -10%;
  will-change: transform;
  transform: translateY(0) translateZ(0);
  height: 125%;
  width: 100%;

  img {
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.d-none {
  display: none;
}