.no-page {
  margin: 190px 0 100px;

  @media (max-width: 1000px) {
    margin: 100px 0;
  }

  @media (max-width: $tableW) {
    margin: 80px 0 30px;
  }
}


.no-page__inner {
  overflow: hidden;
  padding: 180px 50px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  background-image: url('@img/404/404-bg.png'), linear-gradient(135deg, #1F2431 0%, #1A1E26 100%, #131C33 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;

  @media (max-width: $tableW) {
    padding: 250px 15px 92px;
  }
  
}

.no-page__header {
  position: relative;
  z-index: 6;
  max-width: 615px;
  color: #FFF;

  @media (max-width: $tableW) {
    text-align: center;
  }
}

.no-page__title {
  margin-bottom: 10px;
  font-family: $secondFont;
  font-size: 96px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  @media (max-width: $tableW) {
    margin-bottom: 10px;
    font-size: 64px;
  }
}

.no-page__text {
  font-weight: 400;
  margin-bottom: 50px;

  @media (max-width: $tableW) {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
}

.no-page__link {
  width: 240px;
  color: #000000;

  @media (max-width: $tableW) {
    width: 100%;
  }
}

.no-page__img {
  pointer-events: none;
  position: absolute;
  width: 600px;
  height: 300px;
  z-index: 5;
  right: -100px;
  top: 30%;
  will-change: transform;
  transition: transform $cubicTrans;

  @media (max-width: $tableW) {
    width: 300px;
    height: 300px;
    top: 0;
    left: calc(50% - 150px);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


.my-circle-7 {
  filter: blur(250px);
}