.about {
  padding: 54px 0 50px;

  @media (max-width: $tableW) {
    padding: 24px 0 35px;
  }
}

.about__title {
  @media (max-width: $tableW) {
    margin-bottom: 30px;
  }
}


.about__swiper {
  position: relative;
  overflow: hidden;

  padding-top: 100px;
  margin-top: -58px;
  margin-bottom: 45px;

  @media (max-width: $tableW) {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 30px;
  }
}

.about__item {
  max-height: 678px;
  display: grid;
  gap: 24px;
  grid-template-areas: 'b s sm'
                        'b w w';
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 510px 1fr 1fr;


  @media (max-width: $desktopW) {
    grid-template-areas: 'b s sm'
                        'w s sm';
    grid-template-columns: 40% 1fr 1fr;
    max-height: 500px;
  }

  @media (max-width: $tableW) {
    max-height: none;
    display: block;
    gap: 0;
  }
}

.about__item--right {
  grid-template-areas: 's sm b'
                        'w w b';
  grid-template-columns: 1fr 1fr 510px;


  @media (max-width: $desktopW) {
    grid-template-areas: 'sm s b'
                        'sm s w';
    grid-template-columns: 1fr 1fr 40% ;
  }
}

.about__video {
  border-radius: 20px;
  overflow: hidden;

  @media (max-width: $tableW) {
    width: 100%;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.about__video-big {
  grid-area: b;

  @media (max-width: $tableW) {
    height: 471px
  }
}

.about__video-small {
  grid-area: s;

  @media (max-width: $tableW) {
    height: 362px;
  }

  &-sm {
    grid-area: sm;
  }
}
.about__video-wide {
  grid-area: w;

  @media (max-width: $tableW) {
    height: 175px;
  }
}

.about__bottom {
  overflow: hidden;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  border: 1px solid #EDEDED;
  background-color: #fff;
  display: flex;
  justify-content: space-between;

  &:hover {
    .about__bottom-wrap {
      transform: rotate(14deg);
    }
  }
}

.about__bottom-header {
  max-width: 640px;
  flex: 1 1 auto;
  padding: 40px 32px 63px 50px;
}

.about__logo {
  width: 180px;
  margin-bottom: 30px;
  margin-left: 10px;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.about__descr {
  width: 100%;
  margin-bottom: 20px;

  @media (max-width: $tableW) {
    margin-bottom: 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.about__bottom-img {
  position: relative;
  flex: 0 0 550px;
}

.about__bottom-wrap {
  position: absolute;
  transition: $trans;

  &::after {    
    content: '';
    border-radius: 20px;
    position: absolute;
    left: -5px;
    top: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    z-index: -1;
    background: linear-gradient(#e5e5e5, #fcddfd, #ede4f6, #ecffeb, #e5e5e5);
  }


  &:nth-child(1) {
    bottom: -40px;
    right: 25px;
    z-index: 1;
    width: 490px;
    height: 476px;
    transform: rotate(-14.433deg);
  }

  &:nth-child(2) {
    bottom: -80px;
    right: -60px;
    box-shadow: -23px -6px 27px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;
    width: 403px;
    height: 254px;
    transform: rotate(-14.433deg);
  }

  img {
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
}