.category {
  margin-top: 190px;
  
  @media (max-width: 1000px) {
    margin-top: 100px;
  }

  @media (max-width: $tableW) {
    margin-top: 80px;
  }
}

.about-body .category {
  margin-bottom: 20px;

  @media (max-width: $tableW) {
    margin-bottom: 25px;
  }
}

.schedule-body .category {
  margin-bottom: 60px;

  @media (max-width: $tableW) {
    margin-bottom: 25px;
  }
}

.category__inner {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 30px 300px 20px 50px;
  border-radius: 20px;
  background-image: linear-gradient(135deg, #313849 0%, #131822 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: $tableW) {
    padding: 30px 20px 20px;
  }

  .star-1 {
    background-image: url('@img/category/category-stars.png');
  }
}

.category__img {
  position: absolute;
  will-change: transform;
  z-index: 0;
  right: 25px;
  top: 50%;
  margin-top: -120px;
  width: 240px;
  height: 240px;
  transition: $cubicTrans;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  @media (max-width: $tableW) {
    width: 70px;
    height: 70px;
    right: 10px;
    top: 15px;
    transform: translate(0);
    margin-top: 0;
  }
}

.schedule-body {
  .category__img {
    width: 200px;
    height: 200px;

    margin-top: -100px;

    @media (max-width: $tableW) {
      width: 60px;
      height: 60px;
      margin-top: 0;
    }
  }
}

.about-body {
  .category__title {
    @media (max-width: $tableW) {
      margin-bottom: 25px;
    }
  }
}

.category__breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.category__bread-item {
  display: flex;
  margin-right: 10px;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }

  &::after {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #929292;
    border-radius: 50%;
  }

  a {
    margin-right: 10px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
}

.category__bread-item-current {

  &::after {
    display: none;
  }

  a {
    cursor: default;
    color:  #929292;
  }
}

.category__title {
  margin-bottom: 55px;
  font-size: 40px;
  font-family: $secondFont;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;

  @media (max-width: $desktopW) {
    font-size: calcFluidFontSize(40, 24, 1200, 375);
  }

  @media (max-width: $tableW) {
    line-height: 36px;
  }
}

.category__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.category__item {
  margin-right: 9px;
  margin-bottom: 10px;
  
  &:last-child {
    margin-right: 0;
  }
}

.category__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  border-radius: 50px;

  color: $dark-blue;
  font-size: 15px;
  font-family: $secondFont;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #F5F3E9;

  background: -webkit-linear-gradient(#EBD1FF, #EFF8D9, #E9DBEF, #F5F3E9, #C9C2A6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px #00000000;
  animation: $anime-gradient;
}

.category__item-current {
  border-radius: 50px;
  background: radial-gradient(2273.24% 127.91% at 4.57% -0.00%, #FDAAFF 0%, #FDEFD2 10.42%, #FEFFB9 22.40%, #DCD4AD 33.85%, #FFFDC1 45.31%, #FFE3CA 59.38%, #FDFF96 78.13%, #D6C0FF 100%), linear-gradient(90deg, #EBD1FF 0%, #EFF8D9 29.69%, #E9DBEF 58.33%, #F5F3E9 75.52%, #C9C2A6 100%);
  background-blend-mode: lighten, normal;
  animation: $anime-gradient;

  button {
    -webkit-background-clip: text;
    -webkit-text-fill-color: $dark-blue;
  }
}