.contacts {
  padding: 60px 0 100px;

  @media (max-width: $tableW) {
    padding: 30px 0 60px;
  }
}

.contacts__header {
  display: flex;
  min-height: 260px;
  margin-bottom: 60px;

  @media (max-width: 1000px) {
    display: block;
  }

  @media (max-width: $tableW) {
    margin-bottom: 30px;
  }
}

.contacts__contact {
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 30px 72px 30px 30px;
  margin-right: 20px;
  flex-shrink: 0;
  width: 414px;
  color: #FFF;
  border-radius: 20px;
  background-image:  linear-gradient(#ED6262, #E47D16);

  @media (max-width: 1000px) {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
    min-height: 260px;
    padding: 25px 20px 30px;
  }

  &::before {
    content: '';
    position: absolute;
    right: -20px;
    bottom: -40px;
    z-index: -1;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #fbbe63;
  }

  &::after {
    content: '';
    position: absolute;
    right: -60px;
    bottom: -80px;
    z-index: -1;
    width: 230px;
    height: 230px;
    background-image: url('@img/contacts/contacts-bg.png');
    background-position: center;
    background-size: cover;
    
  }
}

.my-circle-5 {
  filter: blur(60px) saturate(300%) contrast(150%);
}

.contacts__subtitle {
  margin-bottom: 30px;
  color: inherit;

  @media (max-width: $tableW) {
    margin-bottom: 36px;
    font-size: 22px;
    line-height: 30px;
  }
}

.contacts__phone,
.contacts__mail {
  padding-left: 34px;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  display: block;
  transition: $trans;
  
  &:hover {
    color: $dark-blue;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;

    background-position: center;
    background-size: cover;
    filter: invert(79%) sepia(27%) saturate(1049%) hue-rotate(197deg) brightness(104%) contrast(107%);
  }
}

.contacts__phone {
  margin-bottom: 20px;

  &::after {
    background-image: url('@img/icons/icons.svg#mobile');
  }
}

.contacts__mail {
  &::after {
    background-image: url('@img/icons/icons.svg#mail');
  }
}

.contacts__social {
  padding: 30px 0 30px 30px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  border-radius: 20px;
  border: 1px solid  #DFDFDF;
  background: #FFF;

  @media (max-width: $tableW) {
    padding: 25px 20px 30px;
  }
}

.contacts__social-list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $tableW) {
    display: block;
  }

  .social__item {
    margin-right: 70px;


    @media (max-width: $tableW) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  .social__link {
    transition: $trans;

    &:hover {
      color: $hover-orange;
    }

    span {
      flex: 0 0 100%;
    }
  }
}

.my-circle-6 {
  filter: blur(250px);
}

.contacts__map {
  margin-bottom: 70px;
  padding: 55px 30px 30px 30px;
  border-radius: 20px;
  border: 1px solid #DFDFDF;
  background: #FFF;

  @media (max-width: $tableW) {
    padding: 30px 20px 20px 20px;
  }
}

.map__title {
  margin-bottom: 24px;

  @media (max-width: $tableW) {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 30px;
  }
}

.map__address {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 60px;

  @media (max-width: $tableW) {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.32px;
  }
}

.map__inner {
  border-radius: 20px;
  overflow: hidden;

  @media (max-width: $tableW) {
    height: 341px;
  }
}

.contacts__caption {
  @media (max-width: $tableW) {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 30px;
  }
}

.contacts__swiper {
  padding-top: 86px;
  margin-top: -55px;

  @media (max-width: $tableW) {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 30px;
  }
}

.contacts .swiper-pagination {
  display: none;
  bottom: 0;

  @media (max-width: $tableW) {
    display: block;
  }
}

.contacts .swiper-pagination-bullet-active {
  background: linear-gradient(180deg, #343434 0%, #111 100%);
}

.swiper {
}

.swiper-contacts {
}

.swiper-button-prev {
}
.swiper-btn {
}
.swiper-button-next {
}
.contacts__list-img {
}
.swiper-wrapper {
}
.contacts__item-img {
  height: 205px;
  border-radius: 20px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.swiper-slide {
}