@keyframes moveDown {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes moveUpScrollLeft {
  from {
    transform: translate(30%,-150%);
  }
  to {
    transform: translate(0%,0%);
  }
}

@keyframes moveUpScrollRight {
  from {
    transform: translate(-30%,-150%);
  }
  to {
    transform: translate(0%,0%);
  }
}

@keyframes moveLeftElem {
  from {
    flex: 0 0 1100px;
  }
  to {
    flex: 1 1 100%;
  }
}

@keyframes moveRightElem {
  from {
    width: 800px
  }
  to {
    width: 100%;
  }
}


.header {
  width: 100vw;
  position: absolute;
  z-index: 999;
  transition: 0.25s ease;
}

.header__top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 100px;

  @media (max-width: $tableW) {
    min-height: 80px;
    padding: 0 19px 0 10px;
  }
}

.header__nav {
  margin: 0 auto;
  animation: moveRightElem $cubicTrans forwards;
}

.header__logo {
  margin-right: auto;
  margin-left: 10px;

  @media (max-width: $tableW) {
    flex: 0 0 90px;
    width: 90px;
  }
}

.header__right {
  display: flex;
  align-items: center;
}

.header__contacts {
  position: relative;
  margin-right: 40px;
  padding-left: 32px;

  background-repeat: no-repeat;
  background-position: left center;
  background-size: 22px 22px;
  font-weight: 700;
  text-decoration-line: underline;
  transition: $trans;

  @media (max-width: 1000px) {
    display: none;
  }

  &:hover,
  &:focus {
    color: $hover-orange;

    &::after {
      filter: invert(51%) sepia(96%) saturate(1365%) hue-rotate(355deg) brightness(95%) contrast(87%);
    }
  }

  &:active {
    color: $active-orange;

    &::after {
      filter: invert(47%) sepia(51%) saturate(3797%) hue-rotate(8deg) brightness(94%) contrast(88%);
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    transition: $trans;
    filter: invert(0%) sepia(3%) saturate(5340%) hue-rotate(358deg) brightness(90%) contrast(75%);

    background-image: url('@img/icons/icons.svg#mobile');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.header__button {
  margin-right: 20px;

  @media (max-width: $tableW) {
    min-height: 40px;
    min-width: 154px;
    font-size: 12px;
    margin-right: 14px;
  }
}

.header__login {
  position: relative;
  height: 56px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  border-radius: 10px;
  background: $blue-gradient;
  transition: $trans;

  @media (max-width: 1000px) {
    display: none;
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background-image: url('@img/icons/icons.svg#log-in');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(138deg) brightness(103%) contrast(101%);
  }
}

.header__login:hover,
.header__login:focus,
.header__login-scroll:hover,
.header__login-scroll:focus {
  border-radius: 50%;
}

.header__body {
  border-radius: 20px;
  background-color: #ffffff;

  @media (max-width: 1000px) {
    overflow-y: auto;;
    padding: 75px 20px;
    position: fixed;
    z-index: 9995;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    background-color: #ffffff;
    transition: $trans;

    visibility: hidden;
    transform: translateX(-100%);
    user-select: none;
  }
}

.header--opened .header__body {
  visibility: visible;
  transform: translateX(0);
  user-select: auto;
}

.header__burger {
  display: none;
  position: relative;
  width: 24px;
  height: 20px;
  font-size: 0;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    transition: $cubicTrans;
    background-color: #000000;
  }

  &::after {
    top: 8px;
    box-shadow: 0 8px 0 #000000;
  }

  @media (max-width: 1000px) {
    display: block;
  }
}

.header__close {
  display: none;
  position: fixed;
  z-index: 9999;
  width: 26px;
  height: 26px;
  font-size: 0;
  top: 20px;
  right: 20px;

  @media (max-width: 1000px) {
    display: block;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 10px;
    left: 0;
    transition: trans;
    background-color: #000000;
  }

  &::after {
    top: 10px;
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.header--opened .header__burger {
  &::after {
    top: 5px;
    box-shadow: none;;
    transform: rotate(45deg);
  }

  &::before {
    top: 5px;
    transform: rotate(-45deg);
  }
}

.header__logo-scroll {
  display: none;

  @media (max-width: 1000px) {
    margin: 0 auto;
    display: block;
    width: 295px;
    margin-bottom: 40px;
  }
}


.header__login-scroll {
  display: none;

  @media (max-width: 1000px) {
    position: fixed;
    top: 15px;
    left: 20px;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 8px;
  }
}

.header__button-scroll {
  display: none;
}

.header--scrolling {
  position: fixed;
  background-color: #ffffff;
}

@media (min-width: 1000px) {
  .header__logo {
    animation: moveDown $cubicTrans forwards;
  }

  .header__button {
    animation: moveDown $cubicTrans forwards;
  }

  .header__login {
    animation: moveDown $cubicTrans forwards;
  }

  .header__login-scroll {
    transform: translate(-30%, -150%);
  }

  .header__logo-scroll {
    transform: translate(30%, -150%);
  }

  .header__button-scroll {
    transform: translate(-30%, -150%);
  }

  .header--scrolling {
    position: fixed;
    background-color: #ffffff;
  
    .header__top {
      display: none;
    }
  
    .header__body {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .header__nav {
      padding: 0;
      margin-right: 36px;
      animation: moveLeftElem $cubicTrans forwards;
  
      @media (max-width: 1080px) {
        margin-right: 10px;
      }
    }
  
    .nav__link {
      font-size: 15px;
      padding-left: 25px;
  
      &::after {
        width: 20px;
        height: 20px;
      }
    }
  
    .header__login-scroll {
      display: flex;
      animation: moveUpScrollRight $cubicTrans forwards;
      animation-delay: 0.1s;
      flex: 0 0 40px;
      height: 40px;
    }
  
    .header__logo-scroll {
      display: flex;
      animation: moveUpScrollLeft $cubicTrans forwards;
      animation-delay: 0.1s;
      flex: 0 0 120px;
      margin-right: 37px;
  
      @media (max-width: 1080px) {
        margin-right: 10px;
      }
    }
  
    .header__button-scroll {
      display: flex;
      animation: moveUpScrollRight $cubicTrans forwards;
      animation-delay: 0.1s;
      min-height: 40px;
      min-width: 156px;
      margin-right: 10px;
      font-size: 12px;
    }
  }
}