.nav {
  width: 100%;
  padding: 0 50px;

  @media (max-width: 1000px) {
    border: none;
    padding: 0;
  }
}

.nav__list {
  min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1000px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}

.nav__item {
  margin-right: 10px;
  padding: 5px 0;

  @media (max-width: 1000px) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:nth-child(1) .nav__link::after {
    background-image: url('@img/icons/icons.svg#home');
  }
  &:nth-child(2) .nav__link::after {
    background-image: url('@img/icons/icons.svg#file-filled');
  }
  &:nth-child(3) .nav__link::after {
    background-image: url('@img/icons/icons.svg#star-outline');
  }
  &:nth-child(4) .nav__link::after {
    background-image: url('@img/icons/icons.svg#cart');
  }
  &:nth-child(5) .nav__link::after {
    background-image: url('@img/icons/icons.svg#calendar-1');
  }
  &:nth-child(6) .nav__link::after {
    background-image: url('@img/icons/icons.svg#call-phone');
  }
}

.nav__link {
  display: block;
  padding-left: 32px;
  position: relative;

  font-weight: 400;
  transition: $trans;

  @media (max-width: 1000px) {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  @media (max-width: $tableW) {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  &:hover,
  &:focus {
    color: $hover-orange;

    &::after {
      filter: invert(51%) sepia(96%) saturate(1365%) hue-rotate(355deg) brightness(95%) contrast(87%);
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 24px;
    width: 24px;
    transition: $trans;
    filter: invert(0%) sepia(3%) saturate(5340%) hue-rotate(358deg) brightness(90%) contrast(75%);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}