.preview {
  margin-top: 190px;

  @media (max-width: $tableW) {
    margin-top: 79px;
  }
}

.preview__body {
  margin-bottom: 40px;
  padding: 115px 50px 147px;
  min-height: 550px;
  width: 100%;

  background-image: url('@img/bg-main.jpg'), linear-gradient(135deg, #1F2431 0%, #1A1E26 100%, #131C33 100%);
  background-repeat: no-repeat, repeat;
  background-position: center, center;
  background-size: cover, cover;
  border-radius: 20px;
  overflow: hidden;


  @media (max-width: $tableW) {
    background-image: url('@img/preview-bg-m.png'), linear-gradient(135deg, #1F2431 0%, #1A1E26 100%, #131C33 100%);
    background-position: bottom center, center;
    padding: 100px 15px 50px;
    min-height: 650px;
    margin-bottom: 20px;
  }
}

.preview__content {
  color: #ffffff;
  max-width: 523px;

  @media (max-width: $tableW) {
    text-align: center;
    max-width: none;
  }
}

.preview__title {
  margin-bottom: 20px;
  color: #ffffff;

  @media (max-width: $tableW) {
    margin-bottom: 15px;
  }
}

.preview__subtitle {
  margin-bottom: 50px;
  font-weight: 400;

  @media (max-width: $tableW) {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 27px;
  }
}

.preview__button {
  color: $textcolor;
  width: 370px;

  @media (max-width: $tableW) {
    width: 100%;
    min-height: 56px;
  }

  &::before {
    width: 18px;
    height: 18px;

    @media (max-width: $tableW) {
      display: none;
    }
  }
}

.preview__bottom {
  position: relative;
  width: 100%;
  padding: 47px 50px 48px 257px;
  border-radius: 20px;  
  overflow: hidden;
  display: flex;
  align-items: center;

  @media (max-width: $desktopW) {
    padding: 169px 15px 20px;
    display: block;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 48px;
    top: 50%;
    transform: translateY(-50%);
    width: 174px;
    height: 131px;
    background-image: url('@img/preview-display.png');
    background-position: center;
    background-size: cover;

    @media (max-width: $desktopW) {
      top: 20px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .my-circle-1 {
    background-color: #B994EA;    
  }
}

.preview__text {  
  color: #ffffff;
  margin-right: 33px;

  @media (max-width: $desktopW) {
    font-size: calcFluidFontSize(24, 22, 1240, 375);
    text-align: center;
    margin: 0;
    margin-bottom: 22px;
  }

  @media (max-width: $tableW) {
    line-height: 30px;
  }
}

.preview__enroll {
  background: $dark-blue;
  color: #ffffff;

  @media (max-width: $desktopW) {
    margin: 0 auto;
    max-width: 325px;
    width: 100%;
    min-height: 56px;
  }

  &::before {
    filter: invert(100%) sepia(0%) saturate(3778%) hue-rotate(28deg) brightness(111%) contrast(101%);
  }

  &:hover,
  &:focus {
    background: $dark-blue;
  }
}
