.quest {
  width: 64px;
  height: 64px;
  position: fixed;
  display: flex;
  right: 40px;
  bottom: 40px;
  z-index: 9999;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(180deg, #FFD875 0%, rgba(255, 143, 80, 0.99) 100%);
  
  &:hover {
    &::after {
      opacity: 1;
    }
  }

  @media (max-width: $tableW) {
    right: 30px;
    bottom: 30px;
    width: 45px;
    height: 45px;
  }

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg, #F5A255 0%, #E7760D 100%);
    opacity: 0;
    transition: $trans;
  }
}

.quest__btn {
  font-size: 0;
  width: 100%;
  height: 100%;
  background-image: url('@img/icons/icons.svg#help-circle');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 36px 36px;

  @media (max-width: $tableW) {
    background-size: 24px 24px;
  }
}