.teachers {
  padding: 98px 0 56px;

  @media (max-width: $tableW) {
    padding: 70px 0 35px;
  }
}

.teachers__title {
  max-width: 886px;
  color: #04061B;
  
  @media (max-width: $tableW) {
    margin-bottom: 30px;
  }
}

.teachers__swiper {
  padding-top: 70px;
  margin-top: -58px;
  margin-bottom: 10px;
  margin-left: -20px;
  margin-right: -20px;

  @media (max-width: $tableW) {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
  }
}

.teachers__item {
  padding: 30px 20px;
  height: auto;
  
  @media (max-width: $tableW) {
    min-height: 848px;
    padding: 0;
  }
}

.teachers__item-inner {
  transition: transform $cubicTrans;
  will-change: transform;
  height: 100%;
  width: 100%;
  padding: 15px 30px 30px 20px;
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  border: 1px solid#EDEDED;
  overflow: hidden;

  @media (max-width: $tableW) {
    padding: 20px;
    padding-bottom: 30px;
    flex-direction: column;
  }
}

.teachers__video {
  flex: 0 0 200px;
  height: 356px;
  margin-right: 20px;
  border-radius: 20px;
  overflow: hidden;

  @media (max-width: $tableW) {
    width: 100%;
    flex: 0 0 auto;
    height: 414px;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.teachers__body {
  flex: 1 1 auto;

  @media (max-width: $tableW) {
    display: flex;
    flex-direction: column;
  }
}

.teachers__name {
  padding-top: 5px;
  margin-bottom: 5px;

  @media (max-width: $tableW) {
    font-size: 18px;
    line-height: 30px;
    padding-top: 0;
  }
}


.teachers__subtitle {
  font-weight: 400;
  margin-bottom: 18px;
  background: -webkit-linear-gradient(#B994EA, #788EE7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: $anime-gradient;

  @media (max-width: $tableW) {
    background: -webkit-linear-gradient(#FFAC5F, #F18017);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.teachers__descr-list {
  @media (max-width: $tableW) {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.teachers__descr {
  position: relative;
  padding-left: 25px;
  line-height: 25px;
  margin-bottom: 8px;
  color: $text-main-color;

  &::before {
    content: '';
    position: absolute;
    left: 7px;
    top: 10px;
    width: 5px;
    height: 5px;
    background-color: $dark-blue;
    border-radius: 50%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.swiper-btn {
  cursor: pointer;
  width: 56px;
  height: 56px;
  border-radius: 10px;
  border: 1px solid $dark-blue;
  top: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  transition: $trans;

  &:hover,
  &:focus {
    border-radius: 50%;
  }

  @media (max-width: 1000px) {
    display: none;
  }

  &::after {
    display: none;
  }
}

.swiper-button-prev {
  left: calc(100% - 140px);
  background-image: url('@img/icons/icons.svg#arrow-left-normal')
}
.swiper-button-next {
  right: 20px;
  background-image: url('@img/icons/icons.svg#arrow-right-normal')
}

.teachers__about {
  border-radius: 20px;
  border: 1px solid #EDEDED;
  background:  #FFF;
  padding: 40px 30px 14px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $tableW) {
    padding: 40px 20px 0;
  }

  @media (max-width: 375px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.teachers__about-item {
  flex: 0 0 330px;
  margin-bottom: 40px;

  &:hover {
    .teachers__icon img {
      transform: rotate(20deg);
    }
  }

  @media (max-width: $tableW) {
    flex: 1 1 100%;
  }
}

.teachers__item-head {
  display: flex;
  margin-bottom: 10px;
}

.teachers__icon {
  margin-right: 20px;
  flex: 0 0 60px;
  height: 60px;
  border-radius: 10px;
  background: linear-gradient(180deg, #3D465A 0%, #313849 100%);

  img {
    transition: $trans;
  }

  @media (max-width: $tableW) {
    margin-right: 10px;
  }
}