.custom-video {
  position: relative;
  overflow: hidden;

  &:hover .custom-video__play {
    border-radius: 50%;
    overflow: hidden;
  }

  video {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.custom-video__bg {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.custom-video__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 2;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.custom-video__play {
  transition: $cubicTrans;
  font-size: 0;
  width: 64px;
  height: 64px;
  border-radius: 10px;
  background-color: rgba(189, 189, 189, 0.50);
  backdrop-filter: blur(10px);

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background-image: url('@img/icons/icons.svg#play');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(313deg) brightness(107%) contrast(101%);
  }
}

.custom-video__bottom {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  padding: 10px 20px 20px;
  z-index: 1;
  width: 100%;
  color: #ffffff;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 -50px 100px #000;
  }
}

.custom-video__play-small,
.custom-video__audio,
.custom-video__full {
  font-size: 0;
  margin-right: 10px;
  flex: 0 0 24px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(313deg) brightness(107%) contrast(101%);
}

.custom-video__play-small {
  background-image: url('@img/icons/icons.svg#play');
}

.custom-video__audio {
  background-image: url('@img/icons/icons.svg#speaker-on');
}

.custom-video__full {
  margin-left: auto;
  margin-right: 0;
  background-image: url('@img/icons/icons.svg#maximize');
}

.custom-video__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1 1 100%;
  margin-bottom: 10px;
}

.custom-video__time {
  flex: 0 0 100px;
  display: flex;
  align-items: center;
}

.custom-video__duration,
.custom-video__current-time {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.custom-video__progress {
  position: relative;
  overflow: hidden;
  flex: 0 0 100%;
  background-color: #A4A4A4;
  height: 7px;
  border-radius: 84px;
}

.custom-video__current {
  height: 100%;
  border-radius: 84px;
  background: #E4E4E4;
  position: absolute;
  left: 0;
  top: 0;
  width: 98%;
  height: 7px;
  bottom: 0;
}

.custom-video__close {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 0;
  width: 23px;
  height: 23px;

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: grey;
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.custom-video-playing {
  .custom-video__bg {
    display: none;
  }

  .custom-video__close {
    display: block;
  }
 
  .custom-video__bottom {
    display: flex;
  }
}

.custom-video-played {
  .custom-video__play {
    display: none;
  }

  .custom-video__play-small {
    background-image: url('@img/icons/icons.svg#pause');
  }
}

.custom-video-no-audio {
  .custom-video__audio {
    background-image: url('@img/icons/icons.svg#speaker-off');
  }
}